numpy==1.26.4
scipy
pandas
matplotlib~=3.10.3
psutil~=7.0.0
tqdm~=4.67.1
requests~=2.32.3
Deprecated~=1.2.18


scikit-learn>=1.4.2
cvxpy
fancyimpute


fuzzy-c-means
hdbscan

rasterio

scipy
pandas

sphinx
sphinx_rtd_theme

pami

